
.area-chart {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  background: url(../images/safe-warn/device/net.png) center center no-repeat;
  background-size: 100% 100%;
}
.area-chart .all-info{
  display: none;
}
.tools-tls {
  width: .86rem;
  height: .86rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: .06rem;

}
.tools-tls .tools-close {
  width: auto;
  height: .2rem;
  line-height: .2rem;
  text-align: center;
  position: absolute;
  top: -.1rem;
  right: 50%;
  cursor: pointer;
  font-size: .14rem;
  border-radius: .04rem;
  padding: .02rem .06rem;
  background-color: #fff;
  border: 1px solid #333333;
  display: none;
}
.tools-tls:hover .tools-close {
  display: block;
}
.tools-close:hover {
  color: red;
}
.tools-user {
  background: url("../images/safe-warn/device/user.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-firewall {
  background: url("../images/safe-warn/device/firewall.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-computer {
  background: url("../images/safe-warn/device/computer.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-contect {
  background: url("../images/safe-warn/device/contect.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-database {
  background: url("../images/safe-warn/device/database.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-name{
  width: auto;
  height: auto;
  font-size: .14rem;
  color: #fff;
  padding: .02rem .06rem;
  line-height: .2rem;
  background-image:-webkit-linear-gradient(to bottom, #008fd8, #0062b1);
  background-image:linear-gradient(to bottom,#008fd8, #0062b1);
  border-radius: .02rem;
  text-align: center;
  white-space: nowrap;
}
.tools-text{
  width: auto;
  font-size: .12rem;
  color: #fff;
  padding: .02rem .06rem;
  height: .2rem!important;
  text-align: center;
  white-space: nowrap;
}
.tools-label{
  width: auto;
  height: .36rem;
  font-size: 0;
}
.tools-label>div{
  width: 100%;
  height: 100%;
  background-image: url("../images/safe-warn/device/label.png");
  background-size:100% 100%;
  padding: .02rem .06rem;
}
.tools-label a{
  font-size: .14rem;
  padding: .02rem 0;
}
.tools-label a.asset{
  color: #1477e2;
  margin-right: .08rem;
}
.tools-label a.alert{
  color: #ff612a;
  text-decoration: underline;
}
.tools-panel-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-user-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/user-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-user-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/user-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-network-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/network-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-network-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/network-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-business-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/business-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-business-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/business-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-monitor-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/monitor-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-monitor-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/monitor-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-panel4-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel4-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-panel4-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel4-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-panel5-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel5-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-panel5-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel5-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-panel6-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel6-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-panel6-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel6-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-device-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/device-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-device-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/device-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-panel8-info{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel8-info.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-panel8-warn{
  width: 11.6rem;
  height: 6.5rem;
  background: url("../images/safe-warn/device/panel8-warn.png") center center no-repeat;
  background-size: 100% 100%;
}
.tools-net{
  /*width: 12.6rem;*/
  /*height: 8.5rem;*/
  width: 100%;
  height: 100%;
  background: url("../images/safe-warn/device/net.png") center center no-repeat;
  background-size: 100% 100%;
}
.warn-ani{
  -webkit-animation: flash 2s infinite;
  -o-animation: flash 2s infinite;
  animation: flash 2s infinite;
}
