
.info {
    overflow: hidden
}

.attacker {
    float: left;
    background: url("../../img/mirror/attacker/avatar-border.png") no-repeat;
    width: 124px;
    height: 112px;
    background-color: rgba(70, 191, 197, .1)
}

.avatar {
    width: 124px;
    height: 112px;
    background: url("../../img/mirror/attacker/avatar.png") no-repeat center top
}
.attack-list{
    width: calc( 100% - 124px);
    float: left;
}
.attack-info {
    float: left;
    width: 50%;
    /*margin-left: 6%;*/
    color: #fff;
    font-size: 0;
}

.attack-info .i-name {
    font-size: 14px
}

.attack-info .i-value {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    /*text-shadow: 0 0 10px rgba(48, 230, 235, 1)*/
}

.info-inline .i-name {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 30px
}

.info-block .i-name {
    display: block;
    margin-bottom: 10px
}

.level {
    overflow: hidden
}

.level-user {
    float: left;
    width: 78px;
    height: 50px;
    background-image: url('../../img/mirror/menace/level-user.png');
    margin-top: 4%;
    margin-left: 4%;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    text-align: center
}

.arrow {
    float: left;
    background: url("../../img/mirror/attacker/arrow.png") no-repeat;
    background-size: 80% 100%;
    width: 220px;
    height: 32px;
    margin-top: 4%;
    margin-left: 0
}

.box.trace {
    border: 0
}

.box.trace .b-title {
    border: 0;
    background-color: transparent
}
.m-grid {
    width: 100%;
    font-family: 'Simsun';
    color: #fff;
    table-layout: fixed
}

.m-grid thead th {
    font-size: 14px;
    padding: 6px 0;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background-color: #15275d
}

.m-grid tbody tr {
    border-bottom: 1px solid #162962;
    cursor: pointer;
}
.m-grid tbody tr:hover td{
    background-color: rgba(21, 39, 93, 0.4);
}
.m-grid tbody tr.active td{
    background-color: rgba(22, 41, 98, 0.4);
}
.m-grid tbody tr:last-child {
    border-bottom: 0
}

.m-grid tbody td {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 5px 0;
    background-color: rgba(13, 20, 48, .5);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.m-grid thead th:nth-child(1), .m-grid tbody td:nth-child(1) {
    width: 20%
}

.m-grid thead th:nth-child(2), .m-grid tbody td:nth-child(2) {
    width: 20%
}

.m-grid thead th:nth-child(3), .m-grid tbody td:nth-child(3) {
    width: 20%
}

.m-grid thead th:nth-child(4), .m-grid tbody td:nth-child(4) {
    width: 20%
}

.m-grid thead th:nth-child(5), .m-grid tbody td:nth-child(5) {
    width: 20%
}

.scan {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background: url(../../img/mirror/menace/scan_bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.scan-inner, .scan-pointer {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.scan-inner {
    background: url(../../img/mirror/menace/scan_inner.png) no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    -webkit-animation: circle 60s linear infinite;
    -o-animation: circle 60s linear infinite;
    animation: circle 60s linear infinite
}

.scan-pointer {
    background: url(../../img/mirror/menace/scan_pointer.png) no-repeat;
    background-size: 100% 100%;
    z-index: 3;
    -webkit-animation: circle 10s linear infinite;
    -o-animation: circle 10s linear infinite;
    animation: circle 10s linear infinite
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.scan-chart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 320px;
    margin-left: -160px;
    margin-top: -160px;
    z-index: 9
}

.scan-chart .dot {
    position: inherit;
    display: inline-block;
    border-radius: 50%;
    -webkit-animation: shine 1.5s linear infinite;
    -moz-animation: shine 1.5s linear infinite;
    animation: shine 1.5s linear infinite;
    -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, .8);
    -moz-box-shadow: 0 0 20px rgba(255, 255, 255, .8);
    box-shadow: 0 0 20px rgba(255, 255, 255, .8)
}

@-webkit-keyframes shine {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 1
    }
}

@-moz-keyframes shine {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}

@keyframes shine {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0
    }
}
