
.time {
    position: absolute;
    top: 82px;
    left: 100px;
    width: 356px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: url("../../img/mirror/state/time.png") no-repeat;
    color: #fff;
    font-size: 16px;
    font-family: 'fnum';
}
.color {
    width: 400px;
    height: 14px;
    margin: 80px auto 18px;
}

.color i {
    display: inline-block;
    width: 30px;
    height: 16px;
    border: 1px solid #152755;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    transform: skew(-15deg);
    margin-right: 20px;
}

.color i:after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 10px;
    margin: 2px;
}

.color i:nth-child(1):after {
    background-color: #e23483;
}

.color i:nth-child(2):after {
    background-color: #6a5ac5;
}

.color i:nth-child(3):after {
    background-color: #c4e6f9;
}

.color i:nth-child(4):after {
    background-color: #72ccf5;
}

.color i:nth-child(5):after {
    background-color: #00a2fd;
}

.color i:nth-child(6):after {
    background-color: #153db7;
}

.color i:nth-child(7):after {
    background-color: #1b2656;
}

.color i:nth-child(8):after {
    background-color: #001b42;
}
.total{
    position: absolute;
    top: 82px;
    right: 20px;
    height: 48px;
    font-size: 0;
}
.total .t-info{
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
}
.total .t-info .chart{
    /*display: inline-block;
    width: 16px;
    height: 14px;
    background: url("../../img/screen/line-chart.png") no-repeat;
    margin-right: 6px;*/
    color: #00d4ff;
    margin-right: 6px;
}
.total .t-info .t-txt{
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    font-style: normal;
    color: #60acff
}
.total .t-info .t-num{
    display: inline-block;
    font-size: 26px;
    font-family: "fnum";
    color: #f9e400;
    margin-left: 2px;
    margin-right: 8px;
}

.total .t-info span{

}
/*.total .t-item{
    float: left;
    width: 162px;
    height: 48px;
    background-image: url("../../img/mirror/state/total_nav.png");
    margin-left: 30px;
    font-size: 0;
}
.total .t-item .t-info{
    float: left;
    width: 62px;
    height: 46px;
    text-align: center;
}
.t-info .t-num{
    font-size: 18px;
    line-height: 16px;
    color: #fea100;
    margin-top: 6px;
    font-family: 'fnum';
}
.t-info{
    font-family: 'Simsun';
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}
.t-name{
    float: left;
    width: 100px;
    height: 48px;
    line-height: 48px;
    margin-top: 4px;
    font-family: 'Simsun';
    font-size: 14px;
    color: #fff;
    text-align: center;

}*/
.flow {
    position: absolute;
    top: 60px;
    width: 392px;
    height: 109px;
    /*background-image: url("../../img/mirror/state/bt-border.png");*/
    z-index: 999
}

.flow.in {
    left: 50px;
    background-position: 0 0
}

.flow.out {
    right: 50px;
    background-position: 0 -109px
}

.flow .f-title {
    font-size: 16px;
    color: #fff;
    font-family: "Simsun";
    font-weight: bold;
    padding-top: 10px
}

.flow.in .f-title {
    padding-left: 32px;
    text-align: left
}

.flow.out .f-title {
    padding-right: 32px;
    text-align: right
}

.flow .f-num {
    font-family: "SimSun";
    font-size: 14px;
    color: #ffff93
}

.flow.in .f-num {
    padding-left: 64px;
    text-align: left
}

.flow.out .f-num {
    padding-right: 64px;
    text-align: right
}

.flow-in, .flow-out {
    font-family: "fnum";
    font-size: 40px
}

.rank {
    z-index: 999;
    width: 25%
}

.area {
    position: absolute;
    left: 50px;
    bottom: 50px
}

.source {
    position: absolute;
    right: 50px;
    bottom: 50px
}

.area table, .source table {
    width: 100%;
    table-layout: fixed
}

.r-info {
    display: block;
    width: 100%;
    height: 20px;
    font-size: 12px;
    font-family: 'Simsun';
    color: #fff;
    margin-bottom: 10px
}
.r-info td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.r-info .r-name {
    float: left;
    width: 20%
}

.r-info .r-chart {
    float: left;
    width: 60%
}

.r-info .r-chart .progress {
    margin-bottom: 0;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #1f468f;
    padding: 2px
}
.r-info .r-chart .progress-bar{
    line-height: 14px;
}
.r-info .r-count {
    float: left;
    width: 20%
}

.area .progress-bar {
    background-color: #49c9ce;
    float: left
}

.area .r-name {
    text-align: left;
    /*width: 30%*/
    width: 70%
}
.area .r-chart{
    width: 50%;

}
.area .r-chart .r-chart-title{
    display: inline-block;
    width: 100%;
    border: 1px solid #1f468f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.area .r-count {
    text-align: right;
    width: 30%
}

.source .progress-bar {
    background-color: #eb7046
}

.source .r-count {
    text-align: right
}
.view {
    width: 40%;
    position: absolute;
    left: 30%;
    bottom: 50px
}

.view .b-body {
    overflow: hidden
}

.v-chart {
    text-align: right;
    margin-bottom: 10px
}

.v-chart span {
    color: #fff;
    font-size: 12px;
    margin-left: 10px
}

.v-chart span i {
    margin-right: 8px
}

.v-visit, .v-attack {
    display: inline-block;
    width: 20px;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.v-visit {
    background-color: #0aefee
}

.v-attack {
    background-color: #d6a137
}

.v-info {
    float: left;
    width: 20px;
    height: 120px;
    position: relative;
    z-index: 1
}

.v-info:nth-child(odd) {
    background-color: #172c6b
}

.v-info:nth-child(even) {
    background-color: #10205f
}

.v-info .v-visit, .v-info .v-attack {
    position: absolute;
    left: 0;
    z-index: 2
}

.v-name {
    color: #fff;
    font-size: 12px;
    writing-mode: tb-rl;
    letter-spacing: 4px;
    margin-top: 4px;
    margin-bottom: 2px;
    position: absolute;
    left: 0;
    z-index: 3
}

.v-info:nth-child(odd) .v-name {
    top: 0
}

.v-info:nth-child(even) .v-name {
    bottom: 0
}

.map {
    position: absolute;
    top: 10%;
    left: 10%;
    margin: 0 auto
}

.focus-wrap {
    position: absolute;
    left: 30%;
    top: 50%
}

.focus-main {
    position: relative
}

.focus-contain, .focus-map {
    position: absolute;
    top: 0;
    left: 0
}

#zMap {
    position: absolute;
    top: 10px;
    left: 10px
}

.focus-contain {
    background-image: url(../../img/mirror/state/map_outline.png);
    background-size: 100% 100%;
    -webkit-animation: circle 8s linear infinite;
    -o-animation: circle 8s linear infinite;
    animation: circle 8s linear infinite
}

.focus-map {
    background-image: url(../../img/mirror/state/map_in.png);
    background-size: 100% 100%;
    -webkit-animation: circleO 8s linear infinite;
    -o-animation: circleO 8s linear infinite;
    animation: circleO 8s linear infinite
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes circleO {
    0% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@-webkit-keyframes circleO {
    0% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.timePicker{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 999999;
}
