.header{
    position: relative;
    margin:0 auto;
    background: url("../../image/mirror/title_background.png") content-box;
    max-width: 610px;
    height: 111px;
    line-height: 111px
}

.emergency_bg{
    background-image: url("../../image/mirror/emergency/bg.png");
    background-size: cover
}
@media screen and (min-width: 1920px){
    .emergency_bg{
        background-size: 100% 1080px
    }
    .header .title{
        font-size: 24px
    }
}

.box1{
    width: 100%;
    margin: 5% auto 0
}

.box1 .b-title{
    width: 80%;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    font-family: 'SimSun';
    text-align: center;
    margin: auto
}

.bug-bg{
    width: 380px;
    height: 164px;
    background-image: url("../../image/mirror/emergency/bug_bg.png");
    margin: 8% auto 2%
}

.bug-icon{
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
    margin-top: 44px;
    margin-left: 44px
}
.bug-info{
    display: inline-block;
    font-size: 16px;
    color: #fff;
    margin-top: 50px;
    position: relative;
    left: 20%;
    vertical-align: top;
    text-align:right
}
.bug-info span{
    display:inline-block;
    font-family: 'fnum';
    color: #49c9ce;
    font-size: 24px;
    margin-right: 6px;
    vertical-align:middle
}

.bug-know{
    background-image: url("../../image/mirror/emergency/bug-icon1.png")
}
.bug-new{
    background-image: url("../../image/mirror/emergency/bug-icon2.png")
}
.bug-repair{
    background-image: url("../../image/mirror/emergency/bug-icon3.png")
}

.count{
    width: 386px;
    height: 194px;
    position: relative;
    background-image: url("../../image/mirror/emergency/count.png");
    margin: 10% auto 0
}
.c-info{
    display: inline-block;
    vertical-align:middle;
    font-family: 'fnum';
    position: relative;
    color: #ffff9f;
    font-size: 24px
}
.num-l{
    position: absolute;
    top: 84px;
    left: 30px
}
.num-r{
    position: absolute;
    top: 84px;
    left: 250px
}
.c-unit{
    position: absolute;
    right: -18px;
    top: 8px;
    vertical-align:middle;
    font-family: 'SimSun';
    font-size: 12px
}
.t-l{
    font-size: 16px;
    color: #fff;
    font-family: 'SimSun';
    position: relative;
    top: 76%;
    left: 15%
}
.t-r{
    font-size: 16px;
    color: #fff;
    font-family: 'SimSun';
    position: relative;
    left:24%
}

.threat{
    width: 412px;
    height: 220px;
    background-image: url("../../image/mirror/emergency/threat.png");
    margin: 0 auto
}

.threat-inner{
    width: 320px;
    height: 200px;
    margin: 10px auto;
    text-align: center
}
.threat-inner .t-img{
    position: relative;
    height: 170px
}
.threat-inner .t-img img{
    max-width: 100%;
    height: 170px
}
.threat-inner .t-img .t-tag{
    position: absolute;
    right: 3px;
    top: -2px;
    width: 64px;
    height: 64px;
    background-image: url("../../image/mirror/emergency/tag.png");
    color: #fff;
    font-size: 14px;
    padding-top: 4px;
    padding-left: 16px
}
.threat-inner .t-text{
    font-family: 'SimSun';
    color: #ffff9f;
    font-size: 14px;
    text-align: center
}

.exposure{
    background-image: url("../../image/mirror/emergency/exposure.png");
    width: 100%;
    height: 224px;
    margin: 0 auto
}


.gridRoll {
    margin-top: 18px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.gridList {
    position: absolute;
    width: 100%
}

.m-grid {
    width: 100%;
    font-family: 'Simsun';
    table-layout: fixed;
    border-collapse:collapse
}


.m-grid thead th {
    padding-top: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap
}

.m-grid tbody tr {
    border-top: 1px solid  #15275d;
    height: 22px;
    white-space: nowrap
}

.m-grid tbody tr:last-child {
    border-bottom: none
}

.m-grid tbody td {
    font-size: 12px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    color: #ffff9f;
    text-overflow: ellipsis!important;
    overflow: hidden
}
.m-grid thead th:nth-child(1),
.m-grid tbody td:nth-child(1) {
    width: 25%;
}

.m-grid thead th:nth-child(2),
.m-grid tbody td:nth-child(2) {
    width: 50%;
}

.m-grid thead th:nth-child(3),
.m-grid tbody td:nth-child(3) {
    width: 25%;
    text-center: left;
}